.im_dialogs_col {
    width: calc(100% + 2px);
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100% - 58px);

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(17, 192, 162, .4);
    }

    .im_dialogs {
        
    }

    .nav_stacked {
        padding: 0;
        margin: 0;
    }

    .other_users {
        color: #777777;
        font-size: 16px;
        margin: 10px 20px;
        font-weight: 500;
    }
}