.status {

    .header_btn_isonline {
        color: #b3b3b3;
    }

    .fa-circle {
        font-size: 9px;
        margin-left: 7px;
    }

    .online {
        color: #11c0a2;
    }

    .offline {
        color: #b3b3b3;
    }

}