@import "libs";
@import "vars";

body {
    font-family: 'Fira Sans', sans-serif, FontAwesome;
}

* {
    outline: none;
    box-sizing: border-box;
}

ul,
li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #03041a;

    .title {
        position: absolute;
    }

}

@import "media";