.verifi {
    width: 241px;
    
    .status {
        color: #fff;
        text-align: center;

        i {
            color: #0fd9b6;
            font-size: 44px;
        }

        p {

        }
    }

    .button_form {
        width: 100%;
        margin-top: 0;
    }
}