a {
    text-decoration: none;
}

.im_dialog_wraper {
    height: auto;
    width: 100%;
    display: block;
    position: relative;

    .fa-times {
        display: none;

        position: absolute;
        right: 23px;
        top: 10px;
        color: #b3b3b3;
        font-size: 12px;

        z-index: 1000;
        cursor: pointer;

        &:hover {
            color: #808080;
        }
    }

    .fa-circle {
        background-color: #F2F2F2;
        border-radius: 50px;

        position: absolute;
        
        font-size: 11px;
        color: #11c0a2;
        bottom: 10px;
        left: 53px;
    }

    &:hover {
        background-color: #f2f6fa;

        .im_dialog_meta {
            display: none;
        }

        .fa-times {
            display: block;
        }
    } 

    .im_dialog {
        display: flex;
        position: relative;
        padding: 7px 16px;
        cursor: pointer;

        .im_dialog_meta {
            position: absolute;
            right: 16px;
            top: 7px;
            color: #b3b3b3;
            font-size: 14px;
        }

        .im_dialog_message {
            width: 55%;
            display: flex;
            flex-flow: column;
            margin: 0 auto 0 20px;
            align-items: start;
            justify-content: space-around;

            .im_dialog_title {
                font-weight: 500;
                color: black;
                font-size: 15px;
            }
            
            .im_message {
                width: 100%;
                font-size: 14px;
                color: #808080;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                span {
                    color: #11c0a2;
                }
            }

            .im_readed_message {
                position: absolute;
                right: 16px;
                bottom: 10px;
                padding: 5px;
                background-color: #11c0a2;
                color: #fff;
                font-size: 11px;
                font-weight: bold;
                text-align: center;
                min-width: 21px;
                border-radius: 50px;
            }
        }
    }
}