.create_dialog {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, .4);
    color: black;

    z-index: 1000;

    &_body {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        background-color: #fff;

        width: 500px;
        height: auto;

    }

    &_header {
        display: flex;

        background-color: #F2F2F2;
        
        p {
            margin: 0;
            padding: 20px 25px;
        }

        .fa-times {
            margin-left: auto;
            padding: 20px 25px;
            cursor: pointer;
            color: #808080;

            &:hover {
                color: #3b3b3b;
            } 
        }
    }

    &_box {
        padding: 20px 25px 0;


        .user_info {
            display: flex;

            .data {
                display: flex;
                flex-flow: column;
                align-items: start;
                justify-content: space-around;

                margin-left: 15px;

                font-size: 15px;

                &_fullName {
                    font-weight: 500;
                }

                &_email {

                }
            }
        }

        .create_textarea {
            width: 100%;
            height: 100px;

            resize: none;
            overflow-y: auto;
            overflow-x: hidden;
            
            line-height: 17px;
            box-sizing: border-box;
            
            padding: 10px 40px 10px 20px;
            margin: 10px 0;
            
            border: 1px solid #7777;

            background-color: #fff;
        }
    }

    &_button {
        display: flex;
        padding: 20px 25px;

        .button_form {
            background-color: #0fd9b6;
            border: none;
            font-weight: bold;
            color: #fff;
            height: 40px;
            width: 100px;
            margin-left: auto;
            cursor: pointer;
    
            &:disabled {
                cursor: auto;
                background-color: #8587ad;
            }
        }
    }
}