$grey : #8587ad;
$grey-lite : #dfe5ec;

$turquoise : #0fd9b6;
$turquoise-dark : #11c0a2;
$turquoise-hover : #10aa90;
$turquoise-lite : #e7ebf0;

$black : rgb(15, 16, 35);
$dark : #03041a;

$time : .3s;

$red : #a80000;