:root {
    --im-textarea-border: 2px solid rgba(119, 119, 119, .8); 
    --im-textarea-border-hover: 2px solid rgba(17, 192, 162, .8); 

    --not-important-elements: #777777;

    --background: #e7ebf0; 

    --background-white: #fff;
    --text-white: #fff;

}

.dark-mode {
    --im-textarea-border: 2px solid rgba(119, 119, 119, .8); 
    --im-textarea-border-hover: 2px solid rgba(17, 192, 162, .8); 

    --not-important-elements: #777777;

    --background: #e7ebf0; 
}