@import "libs";
@import "vars";

body {
    font-family: 'Fira Sans', sans-serif, FontAwesome;
    // background-color: #000;
}

* {
    outline: none;
    box-sizing: border-box;
}

.row {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: $dark;

    .title {
        position: absolute;
    }

    .form {
        margin: auto;
        background-color: $black;
        padding: 50px 40px;
        border: 1px solid $turquoise;
        box-shadow: 0 0 30px 0 rgba(15,217,182,.36);     
        
        .links {
            display: flex;
            padding: 0;
            margin-left: 20px;
            margin-bottom: 40px;

            a {
                color: $grey;
                font-size: 19px;
                font-weight: bold;
                display: block;
                cursor: pointer;
                position: relative;
                transition-duration: .3s;
                text-decoration: none;

                &:after {
                    opacity: 0;
                    display: block;
                    content: "";
                    width: 100%;
                    height: 3px;
                    margin-top: 0px;
                    position: absolute;
                    background-color: $turquoise;
                    transition-duration: .3s;
                }
            }

            a + a {
                margin-left: 30px;
            }

            .active {
                color: #fff;
            }

            .active:after {
                opacity: 1;
                margin-top: 10px;
            }
        }

        &_body {
            display: flex;
            flex-flow: column;
        }

        >p {
            margin-left: 20px;
            color: $grey;
        }

        input {
            width: 400px;
            border: 1px solid #000;
            height: 40px;
            background-color: #25263d;
            padding: 0 20px;
            color: #fff;
        }

        label {
            position: relative;
            
            input {
                padding-right: 40px;
                padding-left: 40px;
            }

            span {
                position: absolute;
                color: #8587ad;
                font-size: 19px;
                top: 50%;
                left: 3%;
                transform: translate(-3%, -50%);
            }

            >i {
                position: absolute;
                right: 3%;
                top: 50%;
                font-size: 19px;
                transform: translate(3%, -50%);
            }

            .fa-eye-slash {
                color: #fff;
                cursor: pointer;
            }

            .fa-check-circle {
                color: $turquoise;
            }

            .fa-circle {
                color: $red;
                font-size: 13px;
            }
        }

        label + label {
            margin-top: 35px;
        }

        .password_line {
            height: 7px;
            margin: 27px 0 0;
            background-color: #25263d;

            &_color {
                transition-duration: .3s;
                height: inherit;
            }

            span {
                float: right;
                margin-top: 10px;
            }
        }

        .button_form {
            background-color: $turquoise;
            border: none;
            font-weight: bold;
            color: #fff;
            height: 40px;
            margin-top: 40px;
            cursor: pointer;
        }
    }
}

.error_form {
    border-color: $red !important;
}

.error_mes {
    position: absolute;
    margin: 0;
    color: $red;
    bottom: -20px;
    font-size: 14px;
}

.header_left {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100px;
    border-right: 1px solid rgba(151,151,151,.3);

    .logo {
        font-size: 37px;
        font-weight: 500;
        color: #fff;

        > * {
            width: 100%;
            display: flex;

            div {
                margin: auto;
                transform: rotate(-90deg);
            }
        }
        
        &_one {
            height: 110px;
            background-color: $turquoise;
        }

        &_two {
            height: 95px;
        }
    }

    .menu {
        margin: auto 0 0;
        padding: 0;

        >li {
            display: flex;
            width: 100%;
            position: relative;

            .slide {
                display: flex;
                height: 50px;
                color: #fff;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(100%);
                z-index: 1000;

                div {
                    margin: auto;
                    opacity: 0;
                    transform: translateX(0px);
                    transition-duration: $time;
                }
            }
        }

        li + li {
            margin-top: 20px;
        }

        .icon:hover ~ .slide div {
            opacity: 1;
            transform: translateX(10px);
        }

        .icon:hover ~ .slide {
            border-left: 1px solid $turquoise;
        }

        .icon:hover {
            background-color: $turquoise;
            border-color: $turquoise;

            i {
                color: $dark;
            }
        }

        .icon {
            margin: auto;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid #fff;
            transition-duration: .3s;

            i {
                color: #fff;
                font-size: 21px;
            }
        }
    }

    .map {
        text-align: center;
        margin-top: 50px;

        .date {

            .day {
                color: #fff;
                font-size: 50px;
                font-weight: bold;
            }

            .month {
                font-weight: 100;
                color: #fff;

                span {
                    height: 100%;
                    width: 1px;
                    background-color: #fff;
                }
            }
        }

        .adress {
            color: #fff;
            font-size: 15px;
            margin-top: 20px;
            margin-bottom: 50px;
            font-weight: 100;
            letter-spacing: 1px;
        }
    }
}

@import "media";