@import "libs";
@import "vars";

body {
    font-family: 'Fira Sans', sans-serif, FontAwesome;
    // background-color: #000;
}

* {
    outline: none;
    box-sizing: border-box;
}

.row {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: $dark;

    .title {
        position: absolute;
    }

    .form {
        margin: auto;
        background-color: $black;
        padding: 50px 40px;
        border: 1px solid $turquoise;
        box-shadow: 0 0 30px 0 rgba(15,217,182,.36);     
        
        .links {
            display: flex;
            padding: 0;
            margin-left: 20px;
            margin-bottom: 40px;

            a {
                color: $grey;
                font-size: 19px;
                font-weight: bold;
                display: block;
                cursor: pointer;
                position: relative;
                transition-duration: .3s;
                text-decoration: none;

                &:after {
                    opacity: 0;
                    display: block;
                    content: "";
                    width: 100%;
                    height: 3px;
                    margin-top: 0px;
                    position: absolute;
                    background-color: $turquoise;
                    transition-duration: .3s;
                }
            }

            a + a {
                margin-left: 30px;
            }

            .active {
                color: #fff;
            }

            .active:after {
                opacity: 1;
                margin-top: 10px;
            }
        }

        &_body {
            display: flex;
            flex-flow: column;
        }

        >p {
            margin-left: 20px;
            color: $grey;
        }

        input {
            width: 400px;
            border: 1px solid #000;
            height: 40px;
            background-color: #25263d;
            padding: 0 20px;
            color: #fff;
        }

        label {
            position: relative;
            
            input {
                padding-right: 40px;
                padding-left: 40px;
            }

            span {
                position: absolute;
                color: #8587ad;
                font-size: 19px;
                top: 50%;
                left: 3%;
                transform: translate(-3%, -50%);
            }

            >i {
                position: absolute;
                right: 3%;
                top: 50%;
                font-size: 19px;
                transform: translate(3%, -50%);
            }

            .fa-eye-slash {
                color: #fff;
                cursor: pointer;
            }

            .fa-check-circle {
                color: $turquoise;
            }

            .fa-circle {
                color: $red;
                font-size: 13px;
            }
        }

        label + label {
            margin-top: 35px;
        }

        .password_line {
            height: 7px;
            margin: 27px 0 0;
            background-color: #25263d;

            &_color {
                transition-duration: .3s;
                height: inherit;
            }

            span {
                float: right;
                margin-top: 10px;
            }
        }

        .button_form {
            background-color: $turquoise;
            border: none;
            font-weight: bold;
            color: #fff;
            height: 40px;
            margin-top: 40px;
            cursor: pointer;
        }
    }
}

.error_form {
    border-color: $red !important;
}

.error_mes {
    position: absolute;
    margin: 0;
    color: $red;
    bottom: -20px;
    font-size: 14px;
}

.scroll {
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }
}

.header_left {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100px;
    border-right: 1px solid rgba(151,151,151,.3);

    .logo {
        font-size: 37px;
        font-weight: 500;
        color: #fff;

        > * {
            width: 100%;
            display: flex;

            div {
                margin: auto;
                transform: rotate(-90deg);
            }
        }
        
        &_one {
            height: 110px;
            background-color: $turquoise;
        }

        &_two {
            height: 95px;
        }
    }

    .menu {
        margin: auto 0 0;
        padding: 0;

        >li {
            display: flex;
            width: 100%;
            position: relative;

            .slide {
                display: flex;
                height: 50px;
                color: #fff;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(100%);
                z-index: 1000;

                div {
                    margin: auto;
                    opacity: 0;
                    transform: translateX(0px);
                    transition-duration: $time;
                }
            }
        }

        li + li {
            margin-top: 20px;
        }

        .icon:hover ~ .slide div {
            opacity: 1;
            transform: translateX(10px);
        }

        .icon:hover ~ .slide {
            border-left: 1px solid $turquoise;
        }

        .icon:hover {
            background-color: $turquoise;
            border-color: $turquoise;

            i {
                color: $dark;
            }
        }

        .icon {
            margin: auto;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid #fff;
            transition-duration: .3s;

            i {
                color: #fff;
                font-size: 21px;
            }
        }
    }

    .map {
        text-align: center;
        margin-top: 50px;

        .date {

            .day {
                color: #fff;
                font-size: 50px;
                font-weight: bold;
            }

            .month {
                font-weight: 100;
                color: #fff;

                span {
                    height: 100%;
                    width: 1px;
                    background-color: #fff;
                }
            }
        }

        .adress {
            color: #fff;
            font-size: 15px;
            margin-top: 20px;
            margin-bottom: 50px;
            font-weight: 100;
            letter-spacing: 1px;
        }
    }
}

.chat_parrent {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: $turquoise-lite;

    .chat_body {
        margin: 0 auto;
        max-width: 1010px;
        width: 100%;
        min-width: 330px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);

        .header {
            height: auto;
            background-color:$turquoise-dark;
            display: flex;
            align-items: center;
            color: #fff;

            &_btn {
                
                a {

                    .header_btn_name {
                        font-weight: 600;
                    }

                    .header_btn_isonline {
                        font-size: 13px;
                        margin: 0 0 0 10px;
                        opacity: .8;
                    }
                }
            }
            
            &_btn:nth-of-type(1) {
                width: 31%;
                
                a {
                    background-color: $turquoise-dark !important;
                    cursor: auto;
                }
            }

            &_btn:nth-of-type(2) {
                width: 64%;
            }

            &_btn:nth-of-type(3) {
                width: 5%;

                .fa-ellipsis-h {
                    line-height: 19px;
                }
            }

            a {
                display: flex;
                padding: 16px;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: $turquoise-hover;
                } 

                .fa-user-friends {
                    margin-right: 20px;
                }
            }
        }


        .chat_message {
            display: flex;
            height: 90vh;
            background-color: #fff;
            box-shadow: 0 1px 1px $grey-lite;
            border-radius: 0 0 3px 3px;
            border-left: 1px solid $grey-lite;
            border-bottom: 1px solid $grey-lite;
            border-right: 1px solid $grey-lite;
            
            .dialogs {
                width: 31%;
                height: 100%;
                border-right: 2px solid #E9EBED;
                padding-bottom: 10px;

                .search_block {
                    display: flex;
                    padding: 12px;
                    position: relative;

                    .dialogs_search {
                        margin: auto;
                        width: 100%;
                        height: 34px;
                        font-size: 12px;
                        line-height: normal;
                        border: 1px solid;
                        border-color: #F2F2F2;
                        border-radius: 2px;
                        padding: 6px 26px 6px 30px;
                        background-color: #F2F2F2;

                        transition: $time;

                        &:focus {
                            border-color: #d9dbde;
                            background-color: #fff;
                        }
                    }
                    
                    i {
                        left: 6%;
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                        color: $grey;
                    }
                }

            }

            .message_body {
                width: 69%;
                height: 100%;
                display: flex;
                flex-flow: column;
            }
        }
    }
}

@import "media";